/*

Nothing defined here. The Hugo project that uses this theme can override Bootstrap by adding a file to:

assets/scss/_styles_project.scss

*/

.arch-layer {

    border-radius: 16px;
    padding: 8px 0px;
    margin: 8px 0px;

    &-purple {
        background-color: #BB8FCE;
    }

    &-yellow {
        background-color: #F9E79F;
    }

    &-blue {
        background-color: #AED6F1;
    }

    &-green {
        background-color: #A9DFBF;
    }

}

.capability {

    border-radius: 16px;
    // width: 100%;
    // padding: auto;
    // margin: 0px auto;

    &-root {
        background-color: $african-violet;
    }

    &-governance {

        background-color: $capability-governance;
        text-align: center;
        margin: auto 0px;

        &-part {
            background-color: $capability-governance-part;
        }    
    }    

    &-interop {

        background-color: $capability-interop;
        text-align: center;
        margin: auto 0px;

        &-part {
            background-color: $capability-interop-part;
        }    
    }    

    &-vertrouwen {

        background-color: $capability-vertrouwen;
        text-align: center;
        margin: auto 0px;

        &-part {
            background-color: $capability-vertrouwen-part;
        }    
    }    

    &-datawaarde {

        background-color: $capability-datawaarde;
        text-align: center;
        margin: auto 0px;

        &-part {
            background-color: $capability-datawaarde-part;
        }    
    }    

    &-selected-true {
        background-color: $capability-selected;
    }

}

.status-badge {
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 16px;
    padding: 4px 6px;
    color: #424242;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    white-space: nowrap;
    text-wrap: nowrap;
    text-transform: uppercase;
    height: 18px;
    font-size: 0.74rem;
    // font-weight: 500;
    vertical-align: text-bottom;
    justify-content: center;
}

.draft {
    color: #424242;
}

.proposed {
    color: #283593;
}

.rejected {
    color: #f07d59;
}

.accepted {
    color: #7cad7f;
}

.deprecated {
    color: #917168;
}

.superseded {
    color: #917168;
}