{{ define "main" -}}
<div class="td-content">
  <h1>Niets gevonden</h1>
  <p>Oeps! Deze pagina bestaat niet. Probeer te starten vanaf de <a href="{{ "" | relURL }}">home pagina</a>.</p>
</div>
{{- end }}
